* {
    display: block;
    position: relative;
    margin: 0;
    font-family: Sansation;
}

a {
    text-decoration: none;
    color: white;
}

.button {
    text-align: center;
    cursor: pointer;
}