* {
    display: block;
    position: relative;
    margin: 0;
    font-family: Sansation;
}

a {
    text-decoration: none;
    color: white;
}

li {
    cursor: pointer; 
}

input {
    &:focus {
        outline: none;
    }
}

.button {
    text-align: center;
    cursor: pointer;
}

.white-bg {
    background: white;
}

.main-title {
    padding: 55px 0;
    text-align: center;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    background: $gray;
}