@font-face {
    font-family: MyriadPro;
    src: url('../src/fonts/myriad/MyriadProBold/MyriadProBold.ttf');
    src: url('../src/fonts/myriad/MyriadProBoldItalic/MyriadProBoldItalic.ttf');
    src: url('../src/fonts/myriad/MyriadProItalic/MyriadProItalic.ttf');
    src: url('../src/fonts/myriad/MyriadProRegular/MyriadProRegular.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Sansation;
    src: url('../src/fonts/sansation/Sansation_Bold.ttf');
    src: url('../src/fonts/sansation/Sansation_Bold_Italic.ttf');
    src: url('../src/fonts/sansation/Sansation_Italic.ttf');
    src: url('../src/fonts/sansation/Sansation_Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}